*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#syhix {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#content {
    flex-grow: 1;
}
html {
    font-family: Marianne;
    background: #140012;
    /*871F78*/
}
.nav-medias {
    padding: 20px;
    display: flex;
    background-color: #3f3f3f;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    font-family: Marianne;
}
.fa-brands {font-size: 30px;}
.fa-twitter {color: #1d9bf0;}
.fa-youtube {color: #ff0000;}
.fa-twitch {color: #9146ff;}
.fa-instagram {color: #f56040;}
.fa-github {color: #4078c0;}
.fa-discord {color: #5865F2;}
