*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
html {
    background-color: #0d1117;
}
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
	background: #1e2127;
    border-radius: 0px;
}
*::-webkit-scrollbar-thumb {
	background: #010409;
	border-radius: 4px;
}
.content {
    padding: 2em;
    width: 600px;
    margin: 10em auto;
    border-radius: 5px;
    background-color: rgb(180, 180, 180, 0.1);
    text-align: center;
    box-shadow: 3px 3px 2px rgb(180, 180, 180, 0.050);
}

.head {
    font-family: Marianne, sans-serif;
    color: white;
    background: linear-gradient(42deg, #b364dd 10%, #40418f 100%) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content span {
    font-family: Marianne, sans-serif;
    color: white;
}

.nav-medias {
    padding-top: 10px;
}
.media {
    display: flex;
    justify-content: center;
}
.cardcontent {
    background-color: #0d1117;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.fa-brands {
    font-size: 30px
}

.fa-twitter {
    color: #1d9bf0
}

.fa-youtube {
    color: red
}

.fa-twitch {
    color: #9146ff
}

.fa-instagram {
    color: #f56040
}

.fa-github {
    color: #4078c0
}

.fa-discord {
    color: #5865f2
}

@media only screen and (max-width: 700px) {
    .content {
        margin: 0 auto;
        width: auto;
        border-radius: 0px;
        box-shadow: none;
        box-shadow: 0px 3px 0px rgb(180, 180, 180, 0.5);
    }

}

@font-face {
    font-family: Marianne;
    src: url(../assets/fonts/Marianne-Bold.otf) format("opentype");
    font-display: swap
}
